/* 
------------------------------------------------
General 
----------------------------------------------------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    --s: 60px;
    --_g: #0000 83%,#b09f79 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #476074;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

/* 
------------------------------------------------
Navigation
----------------------------------------------------
*/

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #476074;
    border-bottom: 1px solid #bbb;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    border-right: none;
}

#about {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
    color: #476074;
    font-weight: bold;
}

.active {
    background-color: #b89f8b;
    color: black;
}

/* 
------------------------------------------------
Inhalt / Main
----------------------------------------------------
*/

#inhalt {
    background-color: white;
    min-height: calc(100vh - 60px - 53px); /* Klappt irgendwie mit 53 ganz gut */
    margin: 55px 15px 10px 15px;
    padding: 2.5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#inhalt div {
    color: black;
    text-align: center;
}

#inhalt div h1 {
    margin-bottom: 20px;
}

/* 
------------------------------------------------
Home
----------------------------------------------------
*/

/* 
------------------------------------------------
Home
----------------------------------------------------
*/

#homepage h1, #homepage h2, #homepage h3 {
    text-align: left;
    text-align: initial; /* Hinzugefügt für die Textausrichtung */
}

#homepage p {
    text-align: left;
    text-align: initial; /* Hinzugefügt für die Textausrichtung */
}

#homepage h1 + p, #homepage h2 + p, #homepage h3 + p {
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none; 
    z-index: 998;
    pointer-events: none; 
}

.popup-content button {
    margin-top: 5px;
}

/* 
------------------------------------------------
Spiel
----------------------------------------------------
*/

#gameCanvas {
    border: 5px solid #476074;
    background-color: #eee;
    border-radius: 18px;
    width: 330px;
    height: 330px;
    margin: auto; 
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 15px;
    font-family: 'Roboto';
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 18px;
    background-color: #eee;
    border: 4px solid #476074;
    color: #303179;
    display: block; 
    margin: auto;
}

/* 
------------------------------------------------
Shop
----------------------------------------------------
*/

.content-container {
    display: flex;
}

.product-list {
    flex: 2; 
    margin-right: 10px;
}

.product{
    margin-bottom: 20px;
}

.product img {
    max-height: 200px;
    width: auto;
}

.cart {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#shopping-card{
    margin-top: 20px;
}

#shopping-cart ul {
    list-style-type: none;
}

/* 
------------------------------------------------
Fusszeile
----------------------------------------------------
*/

footer {
    width: 100%;
    background-color: #476074;
    color: white;
    position: relative;
    margin-top: auto; 
}

footer ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #476074;
    border-top: 1px solid #bbb;
    margin: 0;
    padding: 0;
}

footer ul li {
    float: left;
    border-right: 1px solid #bbb;
}

footer ul li:last-child {
    border-right: none;
}

footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer ul li:hover {
    background-color: white;
}

footer ul li:hover a {
    color: #476074;
    font-weight: bold;
}