/* Author: Benjamin Böhm und Giuseppe Teresi
------------------------------------------------
General 
------------------------------------------------
*/

* {
    padding: 0; /* Nullen des Padding für alle Elemente */
    margin: 0; /* Nullen des margin für alle Elemente */
    box-sizing: border-box; /* Verwende das Border-Box-Modell für konsistentes Sizing */
    font-family: Arial, Helvetica, sans-serif; /* Setze die Standardschriftart für die Seite */
}

body {
    --s: 60px; /* Definition einer CSS-Variable für die Kopfhöhe */
    --_g: #0000 83%,#b09f79 85% 99%,#0000 101%; /* Definition einer CSS-Variable für den Hintergrund */
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #476074; /* Erstellung eines Hintergrunds mit radialen Verläufen und Farbverläufen */
    background-size: calc(2*var(--s)) calc(2*var(--s)); /* Festlegung der Hintergrundgröße */
}



/* 
------------------------------------------------
Navigation
------------------------------------------------
*/

nav ul {
    position: fixed; /* Positioniere die Navigation fest an der oberen Seite */
    top: 0; /* Abstand von oben auf 0 setzen */
    width: 100%; /* Volle Breite für die Navigation */
    list-style-type: none; /* Entferne Aufzählungspunkte der Liste */
    overflow: hidden; /* Verstecke den Überlauf der Liste */
    background-color: #476074; /* Hintergrundfarbe der Navigation setzen */
    border-bottom: 1px solid #bbb; /* Untere Grenze mit 1px und grauer Farbe erstellen */
    margin: 0; /* Außenabstand nullen */
    padding: 0; /* Innenabstand nullen */
}

nav ul li {
    float: left; /* Setze Listenelemente nebeneinander */
    border-right: 1px solid #bbb; /* Setze rechten Rand der Listenelemente mit 1px und grauer Farbe */
}

nav ul li:last-child {
    border-right: none; /* Entferne den rechten Rand des letzten Listenelements */
}

#about {
    float: right; /* Platziere das Element 'about' auf der rechten Seite der Navigation */
}

nav ul li a {
    display: block; /* Element als Blockelement anzeigen */
    color: white; /* Textfarbe auf Weiß setzen */
    text-align: center; /* Text zentrieren */
    padding: 14px 16px; /* Innenabstand oben/unten: 14px, links/rechts: 16px */
    text-decoration: none; /* Unterstreichungen für Links entfernen */
}

nav ul li a:hover { /* Stil für Hover-Effekt im Navigationsmenü */
    background-color: white; /* Hintergrundfarbe auf Weiß setzen, wenn über dem Link gehovert wird */
    color: #476074; /* Textfarbe auf Dunkelblau ändern, wenn über dem Link gehovert wird */
    font-weight: bold; /* Fettdruck für den Text, wenn über dem Link gehovert wird */
}

.active { /* Stil für aktives Navigationsmenü-Element */
    background-color: #b89f8b; /* Hintergrundfarbe auf Braun setzen, um das aktive Element zu markieren */
    color: black; /* Textfarbe auf Schwarz setzen, um das aktive Element hervorzuheben */
}

/* 
------------------------------------------------
Inhalt / Main
------------------------------------------------
*/

#inhalt {
    background-color: white; /* Weißen Hintergrund für den Hauptinhalt setzen */
    min-height: calc(100vh - 60px - 52px); /* Klappt irgendwie mit 53 ganz gut */ /* Mindesthöhe berechnen, unter Berücksichtigung der Kopfzeile und Navigation */
    margin: 55px 15px 10px 15px; /* Außenabstände festlegen */
    padding: 2.5%; /* Innenabstand festlegen */
    border-radius: 10px; /* Abgerundete Ecken mit 10px Radius */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Schatten erstellen */
} 

#inhalt div {
    color: black; /* Textfarbe des Inhalts auf schwarz setzen */
    text-align: center; /* Zentriere den Text im Inhalt */
}

#inhalt div h1 {
    margin-bottom: 20px; /* Unten 20px Abstand für den H1-Titel */
}

/* 
------------------------------------------------
Home
------------------------------------------------
*/

#homepage h1, #homepage h2, #homepage h3{
    text-align: left; /* Text links ausrichten */
    text-align: initial; /* Hinzugefügt für die Textausrichtung */
}

#homepage p {
    text-align: left; /* Text links ausrichten */
    text-align: initial; /* Hinzugefügt für die Textausrichtung */
}

#homepage h1 + p, #homepage h2 + p, #homepage h3 + p {
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */ /* Unten 10px Abstand für Absätze nach Überschriften */
}

.popup {
    display: none; /* Popup standardmäßig ausblenden */
    position: fixed; /* Positionierung fest setzen */
    top: 0; /* Abstand von oben auf 0 setzen */
    left: 0; /* Abstand von links auf 0 setzen */
    width: 100%; /* Volle Breite für das Popup */
    height: 100%; /* Volle Höhe für das Popup */
    background: rgba(0, 0, 0, 0.7); /* Hintergrund mit leichtem Schwarz und Transparenz erstellen */
    justify-content: center; /* Zentriere den Inhalt vertikal */
    align-items: center; /* Zentriere den Inhalt horizontal */
    z-index: 999; /* Setze die Z-Ebene auf 999 für höhere Priorität */
}

.popup-content {
    background: #fff; /* Weißer Hintergrund für den Popup-Inhalt */
    padding: 20px; /* Innenabstand von 20px für den Popup-Inhalt */
    border-radius: 10px; /* Abgerundete Ecken mit 10px Radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schatten für den Popup-Inhalt */
    max-width: 400px; /* Maximale Breite des Popup-Inhalts auf 400px begrenzen */
    margin: auto; /* Automatisches Zentrieren des Popup-Inhalts */
}

.modal-overlay {
    position: fixed; /* Positionierung fest setzen */
    top: 0; /* Abstand von oben auf 0 setzen */
    left: 0; /* Abstand von links auf 0 setzen */
    width: 100%; /* Volle Breite für das Overlay */
    height: 100%; /* Volle Höhe für das Overlay */
    background: none; /* Transparenter Hintergrund für das Overlay */
    z-index: 998; /* Setze die Z-Ebene auf 998 für etwas weniger Priorität als das Popup */
    pointer-events: none; /* Deaktiviere Pointer-Events, um Klicks auf darunterliegende Elemente zu ermöglichen */
}

.popup-content button {
    margin-top: 5px; /* Oberen Abstand von 5px für die Buttons im Popup-Inhalt */
}

#error-message {
    color: red; /* Textfarbe für Fehlermeldungen auf Rot setzen */
    font-size: 14px; /* Schriftgröße der Fehlermeldung auf 14px setzen */
    margin-top: 5px; /* Oberen Abstand von 5px für die Fehlermeldung */
    display: none; /* Fehlermeldung standardmäßig ausblenden */
}

#registration-form label {
    display: block; /* Display-Eigenschaft auf 'block' setzen */
    margin-top: 10px; /* Oberen Abstand von 10px für Labels im Anmeldeformular */
}

#registration-form input {
    width: 100%; /* Volle Breite für Eingabefelder im Anmeldeformular */
    padding: 8px; /* Innenabstand von 8px für Eingabefelder im Anmeldeformular */
    margin-top: 5px; /* Oberen Abstand von 5px für Eingabefelder im Anmeldeformular */
    box-sizing: border-box; /* Verwende das Border-Box-Modell für konsistente Größenberechnungen */
}

#confirm-registration-btn {
    background-color: #476074; /* Hintergrundfarbe für den Bestätigungsbutton im Anmeldeformular */
    color: white; /* Textfarbe für den Bestätigungsbutton im Anmeldeformular */
    padding: 10px; /* Innenabstand von 10px für den Bestätigungsbutton im Anmeldeformular */
    border: none; /* Keinen Rand für den Bestätigungsbutton im Anmeldeformular */
    border-radius: 5px; /* Abgerundete Ecken mit 5px Radius für den Bestätigungsbutton */
    cursor: pointer; /* Zeige den Zeiger-Cursor beim Überfahren des Bestätigungsbuttons an */
    margin-top: 10px; /* Oberen Abstand von 10px für den Bestätigungsbutton im Anmeldeformular */
}

#confirm-registration-btn:hover {
    background-color: #303179; /* Hintergrundfarbe für Hover-Effekt des Bestätigungsbuttons */
}

/* Optional: Stil für Abbruch-Button */
#cancel-registration-btn {
    background-color: #eee; /* Hintergrundfarbe für den Abbruch-Button im Anmeldeformular */
    color: #476074; /* Textfarbe für den Abbruch-Button im Anmeldeformular */
    padding: 10px; /* Innenabstand von 10px für den Abbruch-Button im Anmeldeformular */
    border: 1px solid #476074; /* Rand mit 1px und grauer Farbe für den Abbruch-Button im Anmeldeformular */
    border-radius: 5px; /* Abgerundete Ecken mit 5px Radius für den Abbruch-Button */
    cursor: pointer; /* Zeige den Zeiger-Cursor beim Überfahren des Abbruch-Buttons an */
    margin-top: 10px; /* Oberen Abstand von 10px für den Abbruch-Button im Anmeldeformular */
}

#cancel-registration-btn:hover {
    background-color: #ddd; /* Hintergrundfarbe für Hover-Effekt des Abbruch-Buttons */
}

/* 
------------------------------------------------
Rechtliches
------------------------------------------------
*/

#impressum h1,
#bfreiheit h1,
#datenschutzerklaerung h1,
#impressum h2,
#bfreiheit h2,
#datenschutzerklaerung h2,
#impressum h3,
#bfreiheit h3,
#datenschutzerklaerung h3,
#impressum p,
#bfreiheit p,
#datenschutzerklaerung p {
    text-align: left; /* Links ausrichten */
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */ /* Unten 10px Abstand für Überschriften und Absätze in rechtlichen Abschnitten */
}

/* 
------------------------------------------------
Spiel // Snake
------------------------------------------------
*/

#gameCanvas {
    border: 5px solid #476074; /* Rand mit 5px und blauer Farbe für das Spielcanvas */
    background-color: #eee; /* Hintergrundfarbe für das Spielcanvas */
    border-radius: 18px; /* Abgerundete Ecken mit 18px Radius für das Spielcanvas */
    width: 330px; /* Breite des Spielcanvas auf 330px setzen */
    height: 330px; /* Höhe des Spielcanvas auf 330px setzen */
    margin: auto; /* Zentriere das Spielcanvas */
    display: block; /* Zeige das Spielcanvas als Blockelement an */
    margin-bottom: 10px; /* Unten 10px Abstand für das Spielcanvas */
    
}

button {
    margin-top: 15px; /* Oberen Abstand von 15px für Buttons im Spielbereich */
    font-family: 'Roboto'; /* Verwende die Schriftart 'Roboto' für Buttons */
    padding: 10px; /* Innenabstand von 10px für Buttons im Spielbereich */
    font-weight: bold; /* Fettdruck für den Text in Buttons im Spielbereich */
    font-size: 16px; /* Schriftgröße von 16px für den Text in Buttons im Spielbereich */
    border-radius: 18px; /* Abgerundete Ecken mit 18px Radius für Buttons im Spielbereich */
    background-color: #eee; /* Hintergrundfarbe für Buttons im Spielbereich */
    border: 4px solid #476074; /* Rand mit 4px und blauer Farbe für Buttons im Spielbereich */
    color: #303179; /* Textfarbe für Buttons im Spielbereich */
    display: block;  /* Zeige Buttons als Blockelemente an */
    margin: auto; /* Zentriere Buttons im Spielbereich */
}

/* 
------------------------------------------------
Shop
------------------------------------------------
*/

.content-container {
    display: flex; /* Verwende Flexbox für den Shopbereich */
}

.product-list {
    flex: 2; /* Setze die Breite der Produktliste auf 2 */
    margin-right: 10px; /* Rechten Abstand von 10px für die Produktliste */
}

.product{
    margin-bottom: 20px; /* Unten 20px Abstand für Produkte im Shop */
}

.product img {
    max-height: 200px; /* Maximale Höhe von Produktbildern auf 200px begrenzen */
    width: auto; /* Automatische Breitenanpassung für Produktbilder */
}

.cart {
    flex: 1; /* Setze die Breite des Warenkorbs auf 1 */
    padding: 20px; /* Innenabstand von 20px */
    background-color: #fff; /* Weiße Hintergrundfarbe für den Warenkorb */
    border-radius: 10px; /* Abgerundete Ecken mit 10px Radius für den Warenkorb */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Schatten für den Warenkorb */
}

#shopping-card{
    margin-top: 20px; /* Oberen Abstand von 20px für den Warenkorb */
}

#shopping-cart ul {
    list-style-type: none; /* Entferne Aufzählungspunkte der Liste im Warenkorb */
}

/* 
------------------------------------------------
Socialmedia
------------------------------------------------
*/

#socialmedia h1,
#socialmedia h2,
#socialmedia h3,
#socialmedia p{
    text-align: left; /* Links ausrichten */
    margin-bottom: 10px; /* Unten 10px Abstand für Überschriften und Absätze in Social Media Abschnitten */
}

/* 
------------------------------------------------
Forum
------------------------------------------------
*/

.forum-container {
    background-color: #f0f0f0; /* Hintergrundfarbe für das Forum-Container setzen */
    border-radius: 10px; /* Abgerundete Ecken mit 10px Radius für das Forum-Container */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Schatten für das Forum-Container */
    overflow: hidden; /* Verstecke den Überlauf des Forum-Container Inhalts */
    width: 90%; /* Breite des Forum-Container auf 90% setzen */
    margin: 20px auto; /* Außenabstände und automatisches Zentrieren des Forum-Container */
    transition: min-height 0.3s ease; /* Animation für minimale Höhe mit 0.3s Dauer und Easing */
}

.forum-posts {
    max-height: calc(100vh - 60px - 52px); /* Maximale Höhe der Forum-Beiträge unter Berücksichtigung der Kopfzeile und Navigation */
    overflow-y: auto; /* Scrollleiste für Überlauf im Forum-Beitragsbereich anzeigen */
    padding: 10px; /* Innenabstand von 10px für den Forum-Beitragsbereich */
}

/* Erhöhe die Schriftgröße im Forum */
.forum-container,
.forum-container textarea,
.forum-container button {
    font-size: 16px; /* Schriftgröße auf 16px für den Forum-Container, Textarea und Buttons setzen */
}

.post {
    background-color: #e2e2e2; /* Hintergrundfarbe für Forum-Beiträge setzen */
    border-radius: 8px; /* Abgerundete Ecken mit 8px Radius für Forum-Beiträge */
    margin-bottom: 10px; /* Unten 10px Abstand für Forum-Beiträge */
    padding: 10px; /* Innenabstand von 10px für Forum-Beiträge */
    display: flex; /* Verwende Flexbox für die Anordnung von Forum-Beiträgen */
}

.post-info {
    flex: 1; /* Setze die Breite des Info-Bereichs im Forum-Beitrag auf 1 */
    text-align: left; /* Text links ausrichten */
    padding-right: 10px; /* Rechten Innenabstand von 10px für den Info-Bereich im Forum-Beitrag */
}

.post-content {
    flex: 3; /* Setze die Breite des Inhalts-Bereichs im Forum-Beitrag auf 3 */
    text-align: left; /* Text links ausrichten */
}

.input-area {
    padding: 15px; /* Innenabstand von 15px für den Eingabe-Bereich im Forum */
    background-color: #f4f4f4; /* Hintergrundfarbe für den Eingabe-Bereich im Forum setzen */
    text-align: center; /* Text zentrieren im Eingabe-Bereich im Forum */
}

.forum-container input,
.forum-container textarea {
    width: calc(100% - 20px); /* Breite für das Textfeld anpassen */
    padding: 8px; /* Innenabstand von 8px für Eingabe-Felder im Forum-Container */
    margin-bottom: 10px; /* Unten 10px Abstand für Eingabe-Felder im Forum-Container */
    box-sizing: border-box; /* Verwende das Border-Box-Modell für konsistente Größenberechnungen */
}

.forum-container button {
    background-color: #128C7E; /* Hintergrundfarbe für Buttons im Forum-Container */
    color: white; /* Textfarbe für Buttons im Forum-Container */
    border: none; /* Keinen Rand für Buttons im Forum-Container */
    padding: 10px 15px; /* Innenabstand von 10px oben und unten, 15px links und rechts für Buttons im Forum-Container */
    cursor: pointer; /* Zeige den Zeiger-Cursor beim Überfahren von Buttons im Forum-Container an */
    border-radius: 5px; /* Abgerundete Ecken mit 5px Radius für Buttons im Forum-Container */
}

.forum-container button:hover {
    background-color: #0B5F5B; /* Hintergrundfarbe für Hover-Effekt von Buttons im Forum-Container */
}

/* 
------------------------------------------------
About
------------------------------------------------
*/

#about-us h1,
#about-us h2,
#about-us h3,
#about-us p{
    text-align: left; /* Links ausrichten */
    margin-bottom: 10px; /* Unten 10px Abstand für Überschriften und Absätze im Über-uns-Bereich */
}

/* 
------------------------------------------------
Fußzeile
------------------------------------------------
*/

/* Stilregeln für die Fußzeilen-Navigation */
footer {
    width: 100%; /* Volle Breite für die Fußzeile */
    background-color: #476074; /* Hintergrundfarbe für die Fußzeile setzen */
    color: white; /* Textfarbe für die Fußzeile auf weiß setzen */
    position: relative; /* Position relativ setzen */
    margin-top: auto; /* Oberen Abstand automatisch setzen */
}

footer ul {
    display: flex; /* Verwende Flexbox für die Anordnung der Elemente in der Fußzeile */
    justify-content: center; /* Zentriere die Elemente horizontal in der Fußzeile */
    width: 100%; /* Volle Breite für die Fußzeilen-Navigation */
    list-style-type: none; /* Entferne Aufzählungspunkte der Liste in der Fußzeilen-Navigation */
    overflow: hidden; /* Verstecke Überlauf in der Fußzeilen-Navigation */
    text-align: center; /* Zentriere den Text in der Fußzeilen-Navigation */
    background-color: #476074; /* Hintergrundfarbe für die Fußzeilen-Navigation */
    border-top: 1px solid #bbb; /* Obere Grenzlinie mit 1px Dicke und grauer Farbe für die Fußzeilen-Navigation */
    margin: 0; /* Null Außenabstand für die Fußzeilen-Navigation */
    padding: 0; /* Null Innenabstand für die Fußzeilen-Navigation */
}

footer ul li {
    float: left; /* Elemente in der Fußzeilen-Navigation links ausrichten */
    border-right: 1px solid #bbb; /* Rechte Grenzlinie mit 1px Dicke und grauer Farbe zwischen den Elementen */
}

footer ul li:last-child {
    border-right: none; /* Entferne die rechte Grenzlinie für das letzte Element in der Fußzeilen-Navigation */
}

footer ul li a {
    display: block; /* Elemente in der Fußzeilen-Navigation als Blockelemente anzeigen */
    color: white; /* Textfarbe für Links in der Fußzeilen-Navigation auf Weiß setzen */
    text-align: center; /* Zentriere den Text in den Links der Fußzeilen-Navigation */
    padding: 14px 16px; /* Innenabstand oben/unten: 14px, links/rechts: 16px für Links in der Fußzeilen-Navigation */
    text-decoration: none; /* Unterstreichungen für Links in der Fußzeilen-Navigation entfernen */
}

footer ul li:hover {
    background-color: white; /* Hintergrundfarbe auf Weiß setzen, wenn über einem Element in der Fußzeilen-Navigation gehovert wird */
}

footer ul li:hover a {
    color: #476074; /* Textfarbe auf Dunkelblau ändern, wenn über einem Link in der Fußzeilen-Navigation gehovert wird */
    font-weight: bold; /* Fettdruck für den Text, wenn über einem Link in der Fußzeilen-Navigation gehovert wird */
}

/* 
------------------------------------------------
Responsive Design / Mobile Website
------------------------------------------------
*/

@media only screen and (max-width: 600px) {
    /* Stile für Bildschirmgrößen bis 600px Breite */
    body {
        font-size: 10px;
    }
}