/* 
------------------------------------------------
General 
------------------------------------------------
*/

* {
    padding: 0; /* Nullen des Padding für alle Elemente */
    margin: 0; /* Nullen des margin für alle Elemente */
    box-sizing: border-box; /* Verwende das Border-Box-Modell für konsistentes Sizing */
    font-family: Arial, Helvetica, sans-serif; /* Setze die Standardschriftart für die Seite */
}

body {
    --s: 60px; /* Definition einer CSS-Variable für die Kopfhöhe */
    --_g: #0000 83%,#b09f79 85% 99%,#0000 101%; /* Definition einer CSS-Variable für den Hintergrund */
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #476074; /* Erstellung eines Hintergrunds mit radialen Verläufen und Farbverläufen */
    background-size: calc(2*var(--s)) calc(2*var(--s)); /* Festlegung der Hintergrundgröße */
}

/* 
------------------------------------------------
Navigation
------------------------------------------------
*/

nav ul {
    position: fixed; /* Positioniere die Navigation fest an der oberen Seite */
    top: 0; /* Abstand von oben auf 0 setzen */
    width: 100%; /* Volle Breite für die Navigation */
    list-style-type: none; /* Entferne Aufzählungspunkte der Liste */
    overflow: hidden; /* Verstecke den Überlauf der Liste */
    background-color: #476074; /* Hintergrundfarbe der Navigation setzen */
    border-bottom: 1px solid #bbb; /* Untere Grenze mit 1px und grauer Farbe erstellen */
    margin: 0; /* Außenabstand nullen */
    padding: 0; /* Innenabstand nullen */
}

nav ul li {
    float: left; /* Setze Listenelemente nebeneinander */
    border-right: 1px solid #bbb; /* Setze rechten Rand der Listenelemente mit 1px und grauer Farbe */
}

nav ul li:last-child {
    border-right: none; /* Entferne den rechten Rand des letzten Listenelements */
}

#about {
    float: right; /* Platziere das Element 'about' auf der rechten Seite der Navigation */
}

nav ul li a {
    display: block; /* Element als Blockelement anzeigen */
    color: white; /* Textfarbe auf Weiß setzen */
    text-align: center; /* Text zentrieren */
    padding: 14px 16px; /* Innenabstand oben/unten: 14px, links/rechts: 16px */
    text-decoration: none; /* Unterstreichungen für Links entfernen */
}

nav ul li a:hover { /* Stil für Hover-Effekt im Navigationsmenü */
    background-color: white; /* Hintergrundfarbe auf Weiß setzen, wenn über dem Link gehovert wird */
    color: #476074; /* Textfarbe auf Dunkelblau ändern, wenn über dem Link gehovert wird */
    font-weight: bold; /* Fettdruck für den Text, wenn über dem Link gehovert wird */
}

.active { /* Stil für aktives Navigationsmenü-Element */
    background-color: #b89f8b; /* Hintergrundfarbe auf Braun setzen, um das aktive Element zu markieren */
    color: black; /* Textfarbe auf Schwarz setzen, um das aktive Element hervorzuheben */
}

/* 
------------------------------------------------
Inhalt / Main
------------------------------------------------
*/

#inhalt {
    background-color: white; /* Weißen Hintergrund für den Hauptinhalt setzen */
    min-height: calc(100vh - 60px - 52px); /* Klappt irgendwie mit 53 ganz gut */ /* Mindesthöhe berechnen, unter Berücksichtigung der Kopfzeile und Navigation */
    margin: 55px 15px 10px 15px; /* Außenabstände festlegen */
    padding: 2.5%; /* Innenabstand festlegen */
    border-radius: 10px; /* Abgerundete Ecken mit 10px Radius */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Schatten erstellen */
} 

#inhalt div {
    color: black; /* Textfarbe des Inhalts auf schwarz setzen */
    text-align: center; /* Zentriere den Text im Inhalt */
}

#inhalt div h1 {
    margin-bottom: 20px; /* Unten 20px Abstand für den H1-Titel */
}

/* 
------------------------------------------------
Home
------------------------------------------------
*/

#homepage h1, #homepage h2, #homepage h3{
    text-align: left; /* Text links ausrichten */
    text-align: initial; /* Hinzugefügt für die Textausrichtung */
}

#homepage p {
    text-align: left; /* Text links ausrichten */
    text-align: initial; /* Hinzugefügt für die Textausrichtung */
}

#homepage h1 + p, #homepage h2 + p, #homepage h3 + p {
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */ /* Unten 10px Abstand für Absätze nach Überschriften */
}

.popup {
    display: none; /* Popup standardmäßig ausblenden */
    position: fixed; /* Positionierung fest setzen */
    top: 0; /* Abstand von oben auf 0 setzen */
    left: 0; /* Abstand von links auf 0 setzen */
    width: 100%; /* Volle Breite für das Popup */
    height: 100%; /* Volle Höhe für das Popup */
    background: rgba(0, 0, 0, 0.7); /* Hintergrund mit leichtem Schwarz und Transparenz erstellen */
    justify-content: center; /* Zentriere den Inhalt vertikal */
    align-items: center; /* Zentriere den Inhalt horizontal */
    z-index: 999; /* Setze die Z-Ebene auf 999 für höhere Priorität */
}

.popup-content {
    background: #fff; /* Weißer Hintergrund für den Popup-Inhalt */
    padding: 20px; /* Innenabstand von 20px für den Popup-Inhalt */
    border-radius: 10px; /* Abgerundete Ecken mit 10px Radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schatten für den Popup-Inhalt */
    max-width: 400px; /* Maximale Breite des Popup-Inhalts auf 400px begrenzen */
    margin: auto; /* Automatisches Zentrieren des Popup-Inhalts */
}

.modal-overlay {
    position: fixed; /* Positionierung fest setzen */
    top: 0; /* Abstand von oben auf 0 setzen */
    left: 0; /* Abstand von links auf 0 setzen */
    width: 100%; /* Volle Breite für das Overlay */
    height: 100%; /* Volle Höhe für das Overlay */
    background: none; /* Transparenter Hintergrund für das Overlay */
    z-index: 998; /* Setze die Z-Ebene auf 998 für etwas weniger Priorität als das Popup */
    pointer-events: none; /* Deaktiviere Pointer-Events, um Klicks auf darunterliegende Elemente zu ermöglichen */
}

.popup-content button {
    margin-top: 5px;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

#registration-form label {
    display: block;
    margin-top: 10px;
}

#registration-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#confirm-registration-btn {
    background-color: #476074;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#confirm-registration-btn:hover {
    background-color: #303179;
}

/* Optional: Stil für Abbruch-Button */
#cancel-registration-btn {
    background-color: #eee;
    color: #476074;
    padding: 10px;
    border: 1px solid #476074;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#cancel-registration-btn:hover {
    background-color: #ddd;
}

/* 
------------------------------------------------
Rechtliches
------------------------------------------------
*/

#impressum h1,
#bfreiheit h1,
#datenschutzerklaerung h1,
#impressum h2,
#bfreiheit h2,
#datenschutzerklaerung h2,
#impressum h3,
#bfreiheit h3,
#datenschutzerklaerung h3,
#impressum p,
#bfreiheit p,
#datenschutzerklaerung p {
    text-align: left; /* Links ausrichten */
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */
}

/* 
------------------------------------------------
Spiel
------------------------------------------------
*/

#gameCanvas {
    border: 5px solid #476074;
    background-color: #eee;
    border-radius: 18px;
    width: 330px;
    height: 330px;
    margin: auto; 
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 15px;
    font-family: 'Roboto';
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 18px;
    background-color: #eee;
    border: 4px solid #476074;
    color: #303179;
    display: block; 
    margin: auto;
}

/* 
------------------------------------------------
Shop
------------------------------------------------
*/

.content-container {
    display: flex;
}

.product-list {
    flex: 2; 
    margin-right: 10px;
}

.product{
    margin-bottom: 20px;
}

.product img {
    max-height: 200px;
    width: auto;
}

.cart {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#shopping-card{
    margin-top: 20px;
}

#shopping-cart ul {
    list-style-type: none;
}

/* 
------------------------------------------------
Socialmedia
------------------------------------------------
*/

#socialmedia h1,
#socialmedia h2,
#socialmedia h3,
#socialmedia p{
    text-align: left; /* Links ausrichten */
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */
}

/* 
------------------------------------------------
Forum
------------------------------------------------
*/

.forum-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
    transition: min-height 0.3s ease;
}

.forum-posts {
    max-height: calc(100vh - 60px - 52px);
    overflow-y: auto;
    padding: 10px;
}

/* Erhöhe die Schriftgröße im Forum */
.forum-container,
.forum-container textarea,
.forum-container button {
    font-size: 16px;
}

.post {
    background-color: #e2e2e2;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
}

.post-info {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.post-content {
    flex: 3;
    text-align: left;
}

.input-area {
    padding: 15px;
    background-color: #f4f4f4;
    text-align: center; /* Zentrierung der Eingabe */
}

.forum-container input,
.forum-container textarea {
    width: calc(100% - 20px); /* Breite für das Textfeld anpassen */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.forum-container button {
    background-color: #128C7E;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.forum-container button:hover {
    background-color: #0B5F5B;
}

/* 
------------------------------------------------
About
------------------------------------------------
*/

#about-us h1,
#about-us h2,
#about-us h3,
#about-us p{
    text-align: left; /* Links ausrichten */
    margin-bottom: 10px; /* Füge einen Abstand am oberen Rand hinzu */
}

/* 
------------------------------------------------
Fusszeile
------------------------------------------------
*/

footer {
    width: 100%;
    background-color: #476074;
    color: white;
    position: relative;
    margin-top: auto; 
}

footer ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #476074;
    border-top: 1px solid #bbb;
    margin: 0;
    padding: 0;
}

footer ul li {
    float: left;
    border-right: 1px solid #bbb;
}

footer ul li:last-child {
    border-right: none;
}

footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer ul li:hover {
    background-color: white;
}

footer ul li:hover a {
    color: #476074;
    font-weight: bold;
}